{$extend "/master.html" $}


{$define "#content" }


<header>
	<h1>Unsuck The Web</h1>
	<div class="logo"></div>
</header>

<div id="content">

	<h1>The <em>Unsucked Web</em> Manifesto</h1>

	<p>
		<strong>WHEREAS,</strong> the web is built on an amazing collection of features that's ever-expanding, both in complexity and in size of resources;
	</p>
	<p>
		<strong>WHEREAS,</strong> designers and developers currently exert near-complete control over the experience a user has on their site or web application;
	</p>
	<p>
		<strong>WHEREAS,</strong> designers and developers tend to design <em>for the best experience</em>, making assumptions of free, fast, unlimited bandwidth to deliver this experience to users;
	</p>
	<p>
		<strong>WHEREAS,</strong> user access to a lower fidelity experience is often treated as unimportant to business goals, and usually given the same amount of (non-)care as <em>Accessibility</em> concerns, which is to say little to none, or as older "unsupported" browsers (like IE6);
	</p>
	<p>
		<strong>WHEREAS,</strong> many users are often disenfranchised from <em>this web</em> because a site or web application is too big&mdash;either <em>too costly</em> in time to download over slow internet, or <em>too costly</em> in money over metered bandwidth, and must unfortunately therefore make a choice simply not to visit at all;
	</p>
	<p>
		<strong>WHEREAS,</strong> principles such as <em>progressive enhancement</em> and <em>responsive design</em> are nearly universally accepted among the community, but mainly only focus on device capabilities and characteristics instead of <em>user choice</em>;
	</p>
	<p>
		<strong>WHEREAS,</strong> we <em>can</em> build a web that embraces users and gives them <em>choice</em> over their experience;
	</p>
	<p>
		<strong>WE THEREFORE ASSERT</strong> the following principles of <em>unsucked web</em> design:
	</p>
	<ol>
		<li>
			<strong>THAT</strong> designers and developers of sites and web applications must be free to continue to adopt the latest and greatest web technologies as appropriate to their goals, including retina images, web fonts, etc.
		</li>
		<li>
			<strong>THAT</strong> all sites and web applications must <em>also</em> at a minimum provide a useful, if significantly limited, <em>low fidelity</em> version that consists variously of: HTML/text, basic styling, a few (low-resolution) images, etc.
		</li>
		<li>
			<strong>THAT</strong> designers and developers of sites and web applications must begin to intentionally design the web in <em>layers</em>, not unlike the original principles of <em>progressive enhancement</em>, and not dissimilar from breakpoints in <em>responsive design</em>. However, these layers of features must adapt not only to device capabilities, but also to <strong>user choice</strong>.
		</li>
		<li>
			<strong>THAT</strong> no matter how powerful a user's device may be, or how awesome its screen, designers and developers have to <strong>respect</strong> that a user may not want to pay the <em>time</em> or <em>money</em> for those retina images, web fonts, etc.
		</li>
		<li>
			<strong>THAT</strong> developers know how to fiddle with settings to control some aspects of this already, but regular non-technical users do not, and <em>should not have to</em>. User choice over the desired fidelity of experience on a site or web application must be easily expressible in the main UI of a browser, and must be on a per-site basis. For instance, a user may choose in loading a particular site between "Faster Load" or "More Features".
		</li>
		<li>
			<strong>THAT</strong> ultimately, if there's a conflict between a user's expressed (or default) choice of fidelity of experience and the experience offered or forced by the site or web application, <em>user choice must take precedence</em>. Browsers must <em>respect</em> the user choice and refuse to download (not just suppress display, as in responsive design) resources that exceed chosen fidelity.
		</li>
	</ol>
	<p>
		Follow the progress of this movement on <a href="http://twitter.com/UnsuckTheWeb">@UnsuckTheWeb</a>.
	</p>

</div>

<footer>
	<div class="left-hand"></div>
	<div class="text">Let's Unsuck The Web Together, one site at a time!</div>
	<div class="right-hand"></div>
</footer>

{$}
